<!DOCTYPE html>
<html
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/pokestyle.css" charset="utf-8">
</head>
<body>
  <header>
    <h1><a href='/'>PokeMon</a></h1>
  </header>
  <div class="containareon">
    <%= yield %>
  </div>
  <!-- <%= yield %> -->
</body>
</html>
